Cleaning Data:
1.	Load and Inspect: Understand the data structure.
2.	Check for Missing or duplicated Values: Handle missing or invalid data.
3.	Fix Data Types: Ensure correct types for categorical and numerical data.
4.	Outlier checking: checking extreme values. (should I remove or cap them?)
5.	Statistical Analysis: Perform descriptive and group-wise analysis.
6.	Correlation Analysis: Understand relationships between variables.
7.	Adding pre-diabetic& diabetic column according hbA1c_level
8.	Split Dataset with Territory ID: Extract unique location values and assign a territory_id to each. Replace the location column in the main dataset with territory_id. Save the territory_id-location mapping as a separate CSV file (territories.csv). Save the updated main dataset with territory_id as another CSV file (main_dataset_with_territory_id.csv).
9.	Export Clean Data: Save the cleaned data, ensuring it is ready for analysis and modelling.

In [1]:
import pandas as pd
from pathlib import Path

In [2]:

file_path = Path("diabetes_dataset.csv")
df = pd.read_csv(file_path)
df.head()

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0

In [3]:
# Check column names, data types, and null values
print(df.info())

# Get basic statistics
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 16 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   year                  100000 non-null  int64
 1   gender                100000 non-null  object
 2   age                   100000 non-null  float64
 3   location              100000 non-null  object
 4   race:AfricanAmerican  100000 non-null  int64
 5   race:Asian            100000 non-null  int64
 6   race:Caucasian        100000 non-null  int64
 7   race:Hispanic         100000 non-null  int64
 8   race:Other            100000 non-null  int64
 9   hypertension          100000 non-null  int64
 10  heart_disease         100000 non-null  int64
 11  smoking_history       100000 non-null  object
 12  bmi                   100000 non-null  float64
 13  hbA1c_level           100000 non-null  float64
 14  blood_glucose_level   100000 non-null  int64
 15  diabetes              100000 non-null  int64
dtypes: float64(3), int64(10), object(3)
memory usage: 12.2+ MB
None
                year            age  race:AfricanAmerican     race:Asian  \
count  100000.000000  100000.000000         100000.000000  100000.000000
mean     2018.360820      41.885856              0.202230       0.200150
std         1.345239      22.516840              0.401665       0.400114
min      2015.000000       0.080000              0.000000       0.000000
25%      2019.000000      24.000000              0.000000       0.000000
50%      2019.000000      43.000000              0.000000       0.000000
75%      2019.000000      60.000000              0.000000       0.000000
max      2022.000000      80.000000              1.000000       1.000000

       race:Caucasian  race:Hispanic     race:Other  hypertension  \
count   100000.000000   100000.00000  100000.000000  100000.00000
mean         0.198760        0.19888       0.199980       0.07485
std          0.399069        0.39916       0.399987       0.26315
min          0.000000        0.00000       0.000000       0.00000
25%          0.000000        0.00000       0.000000       0.00000
50%          0.000000        0.00000       0.000000       0.00000
75%          0.000000        0.00000       0.000000       0.00000
max          1.000000        1.00000       1.000000       1.00000

       heart_disease            bmi    hbA1c_level  blood_glucose_level  \
count  100000.000000  100000.000000  100000.000000        100000.000000
mean        0.039420      27.320767       5.527507           138.058060
std         0.194593       6.636783       1.070672            40.708136
min         0.000000      10.010000       3.500000            80.000000
25%         0.000000      23.630000       4.800000           100.000000
50%         0.000000      27.320000       5.800000           140.000000
75%         0.000000      29.580000       6.200000           159.000000
max         1.000000      95.690000       9.000000           300.000000

            diabetes
count  100000.000000
mean        0.085000
std         0.278883
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

In [4]:
# Display duplicate rows
duplicate_rows = df[df.duplicated()]
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 14

In [5]:

df = df.drop_duplicates()

In [6]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [7]:
# Check for missing values
df.isnull().sum()

year                    0
gender                  0
age                     0
location                0
race:AfricanAmerican    0
race:Asian              0
race:Caucasian          0
race:Hispanic           0
race:Other              0
hypertension            0
heart_disease           0
smoking_history         0
bmi                     0
hbA1c_level             0
blood_glucose_level     0
diabetes                0
dtype: int64

In [8]:
print(df.dtypes)

year                      int64
gender                   object
age                     float64
location                 object
race:AfricanAmerican      int64
race:Asian                int64
race:Caucasian            int64
race:Hispanic             int64
race:Other                int64
hypertension              int64
heart_disease             int64
smoking_history          object
bmi                     float64
hbA1c_level             float64
blood_glucose_level       int64
diabetes                  int64
dtype: object

In [9]:
# Convert categorical columns to category type
categorical_columns = ['gender', 'smoking_history']
for col in categorical_columns:
    df[col] = df[col].astype('category')
print(df.dtypes)

year                       int64
gender                  category
age                      float64
location                  object
race:AfricanAmerican       int64
race:Asian                 int64
race:Caucasian             int64
race:Hispanic              int64
race:Other                 int64
hypertension               int64
heart_disease              int64
smoking_history         category
bmi                      float64
hbA1c_level              float64
blood_glucose_level        int64
diabetes                   int64
dtype: object

In [10]:
#Statistical Analysis
df.describe()

,year,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,bmi,hbA1c_level,blood_glucose_level,diabetes
count,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000,99986.000000
mean,2018.360731,41.885930,0.202238,0.200098,0.198758,0.198898,0.200008,0.074860,0.039426,27.320767,5.527517,138.059518,0.085012
std,1.345312,22.516409,0.401671,0.400075,0.399067,0.399173,0.400008,0.263167,0.194606,6.637248,1.070674,40.708667,0.278901
min,2015.000000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,2019.000000,24.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,2019.000000,43.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,2019.000000,60.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.580000,6.200000,159.000000,0.000000
max,2022.000000,80.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,95.690000,9.000000,300.000000,1.000000

In [11]:
# Average BMI by gender
print(df.groupby('gender')['bmi'].mean())

gender
Female    27.449300
Male      27.139073
Other     27.379444
Name: bmi, dtype: float64

C:\Users\nedaj\AppData\Local\Temp\ipykernel_15836\1758640173.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  print(df.groupby('gender')['bmi'].mean())

In [12]:
# Add columns for hbA1c high

# High (Pre-Diabetes or Diabetes)
def classify_high(value):
    if 5.7 <= value <= 6.4:
        return 'Pre-Diabetes'
    elif value >= 6.5:
        return 'Diabetes'
    return 'None'

df['hbA1c_High'] = df['hbA1c_level'].apply(classify_high)

# Display the updated DataFrame
df.head(10)

,year,gender,age,location,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes,hbA1c_High
0,2020,Female,32.0,Alabama,0,0,0,0,1,0,0,never,27.32,5.0,100,0,None
1,2015,Female,29.0,Alabama,0,1,0,0,0,0,0,never,19.95,5.0,90,0,None
2,2015,Male,18.0,Alabama,0,0,0,0,1,0,0,never,23.76,4.8,160,0,None
3,2015,Male,41.0,Alabama,0,0,1,0,0,0,0,never,27.32,4.0,159,0,None
4,2016,Female,52.0,Alabama,1,0,0,0,0,0,0,never,23.75,6.5,90,0,Diabetes
5,2016,Male,66.0,Alabama,0,0,1,0,0,0,0,not current,27.32,5.7,159,0,Pre-Diabetes
6,2015,Female,49.0,Alabama,0,0,1,0,0,0,0,current,24.34,5.7,80,0,Pre-Diabetes
7,2016,Female,15.0,Alabama,0,0,0,0,1,0,0,No Info,20.98,5.0,155,0,None
8,2016,Male,51.0,Alabama,1,0,0,0,0,0,0,never,38.14,6.0,100,0,Pre-Diabetes
9,2015,Male,42.0,Alabama,0,0,1,0,0,0,0,No Info,27.32,5.7,160,0,Pre-Diabetes

In [13]:
# Outlier Detection and Handling
# Filter only numeric columns
numeric_df = df.select_dtypes(include='number')

# Calculate IQR
Q1 = numeric_df.quantile(0.25)
Q3 = numeric_df.quantile(0.75)
IQR = Q3 - Q1

# Identify outliers
outliers = ((numeric_df < (Q1 - 1.5 * IQR)) | (numeric_df > (Q3 + 1.5 * IQR))).sum()
print("Outliers per column:\n", outliers)

Outliers per column:
 year                    20255
age                         0
race:AfricanAmerican    20221
race:Asian              20007
race:Caucasian          19873
race:Hispanic           19887
race:Other              19998
hypertension             7485
heart_disease            3942
bmi                      7086
hbA1c_level              1315
blood_glucose_level      2038
diabetes                 8500
dtype: int64

In [14]:
##Correlation Analysis
# Filter only numeric columns
numeric_df = df.select_dtypes(include='number')
# Calculate the correlation matrix
correlation_matrix = numeric_df.corr()
# Display the correlation matrix
correlation_matrix

,year,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,bmi,hbA1c_level,blood_glucose_level,diabetes
year,1.000000,-0.003303,-0.004282,-0.007287,0.010585,0.004175,-0.003139,-0.003787,0.001834,-0.001861,-0.000460,0.002985,-0.003444
age,-0.003303,1.000000,-0.002249,0.003934,0.003746,0.001929,-0.007338,0.251194,0.233375,0.337426,0.101398,0.110690,0.258032
race:AfricanAmerican,-0.004282,-0.002249,1.000000,-0.251825,-0.250770,-0.250880,-0.251754,-0.001207,-0.000668,-0.001249,0.001339,0.002268,0.004372
race:Asian,-0.007287,0.003934,-0.251825,1.000000,-0.249105,-0.249215,-0.250083,0.004015,0.006194,0.005240,-0.000463,0.000222,0.003780
race:Caucasian,0.010585,0.003746,-0.250770,-0.249105,1.000000,-0.248171,-0.249035,0.000505,-0.001224,-0.002114,-0.004086,0.004140,-0.001747
race:Hispanic,0.004175,0.001929,-0.250880,-0.249215,-0.248171,1.000000,-0.249145,0.001357,-0.000780,0.002363,0.000465,-0.002712,-0.001314
race:Other,-0.003139,-0.007338,-0.251754,-0.250083,-0.249035,-0.249145,1.000000,-0.004661,-0.003524,-0.004236,0.002730,-0.003924,-0.005116
hypertension,-0.003787,0.251194,-0.001207,0.004015,0.000505,0.001357,-0.004661,1.000000,0.121255,0.147667,0.080942,0.084424,0.197814
heart_disease,0.001834,0.233375,-0.000668,0.006194,-0.001224,-0.000780,-0.003524,0.121255,1.000000,0.061198,0.067592,0.070063,0.171720
bmi,-0.001861,0.337426,-0.001249,0.005240,-0.002114,0.002363,-0.004236,0.147667,0.061198,1.000000,0.083003,0.091267,0.214359
hbA1c_level,-0.000460,0.101398,0.001339,-0.000463,-0.004086,0.000465,0.002730,0.080942,0.067592,0.083003,1.000000,0.166732,0.400688
blood_glucose_level,0.002985,0.110690,0.002268,0.000222,0.004140,-0.002712,-0.003924,0.084424,0.070063,0.091267,0.166732,1.000000,0.419574
diabetes,-0.003444,0.258032,0.004372,0.003780,-0.001747,-0.001314,-0.005116,0.197814,0.171720,0.214359,0.400688,0.419574,1.000000

In [15]:
#Create a territory reference DataFrame
territories = df[['location']].drop_duplicates().reset_index(drop=True)
territories['territory_id'] = territories.index + 1  # Assign unique IDs starting from 1
territories.head()

     location  territory_id
0     Alabama             1
1      Alaska             2
2     Arizona             3
3    Arkansas             4
4  California             5

In [16]:
# Save the territory reference DataFrame to a CSV file
territory_csv_path = 'territories.csv'
territories.to_csv(territory_csv_path, index=False)
print(f"Territory CSV file saved as: {territory_csv_path}")

Territory CSV file saved as: territories.csv

In [17]:
#Replace location names in the main DataFrame with their corresponding territory_id
df = df.merge(territories, how='left', left_on='location', right_on='location')
df.drop(columns=['location'], inplace=True)  # Drop the location column
df.rename(columns={'territory_id': 'territory_id'}, inplace=True)
df.head()

,year,gender,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,smoking_history,bmi,hbA1c_level,blood_glucose_level,diabetes,hbA1c_High,territory_id
0,2020,Female,32.0,0,0,0,0,1,0,0,never,27.32,5.0,100,0,None,1
1,2015,Female,29.0,0,1,0,0,0,0,0,never,19.95,5.0,90,0,None,1
2,2015,Male,18.0,0,0,0,0,1,0,0,never,23.76,4.8,160,0,None,1
3,2015,Male,41.0,0,0,1,0,0,0,0,never,27.32,4.0,159,0,None,1
4,2016,Female,52.0,1,0,0,0,0,0,0,never,23.75,6.5,90,0,Diabetes,1

In [18]:
# Save the updated main DataFrame to a CSV file
main_csv_path = 'main_dataset_with_territory_id.csv'
df.to_csv(main_csv_path, index=False)
print(f"Main CSV file saved as: {main_csv_path}")

Main CSV file saved as: main_dataset_with_territory_id.csv